<header class="flex items-center justify-between border-b dark:border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
<h1 class="text-base font-semibold leading-7 dark:text-white">
    Build a fishing component
</h1>
</header>
<%= react_component("Builder", props: { part: @part, errors: @errors }, prerender: false) %>