<div class="inline-block min-w-full lg:pr-96">
  <h1 class="p-5 border-b border-gray-200 dark:border-gray-700 text-base font-semibold leading-7 dark:text-white">
    All fishing components
  </h1>
  <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50 dark:bg-gray-700 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
          Name
        </th>
        <th class="px-6 py-3 bg-gray-50 dark:bg-gray-700 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
          Parts
        </th>
        <th class="px-6 py-3 bg-gray-50 dark:bg-gray-700 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
          Created
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
      <% @rigs.each do |rig| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900 dark:text-gray-100"><%= rig.name %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900 dark:text-gray-100">
                <%= rig.parts.map(&:name).join(", ") %>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900 dark:text-gray-100"><%= rig.created_at.strftime("%B %d") %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= react_component("RecentActivity", props: {activity: @recent_activity}, prerender: false) %>
