%h1.text-2xl.font-bold.dark:text-white.text-center.py-5
  = @rig.name
- @rig.parts.map do |part|
  %h2.text-2xl.font-bold.dark:text-white
    = part.name
  - if part.images.present?
    - part.images.map do |image|
      %img.h-12.w-12.flex-none.rounded-full.bg-gray-800{:src => image.url, :alt => ""}
= link_to "Edit", edit_rig_path(@rig), class: "dark:text-white"
